:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --primery-white-color: #ffffff;
}

body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: var(--primery-text-color);
  background-color: var(--primery-white-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

/* колір основного тексту #757575 */
/* колір тексту заголовків #212121 */
/* колір фону навігації та тексту у шапці #FFFFFF */
/* колір фону у шапці та підвалі #2F303A */
/* колір фону команди #F5F4FA */
/* колір акценту #2196F3 */
/* колір чорний #000000 */
/* колір контактів в підвалі 
rgba(255, 255, 255, 0.6) */

/* Site nav */
.nav {
  background-color: #ffffff;
}
.logo {
  color: var(--accent-color);
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-dark {
  color: #000000;
}
.logo-light {
  color: var(--primery-white-color);
}
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contact-nav .link {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

/* Hero */
.hero {
  background-color: var(--primery-bg-color);
}
.hero-title {
  color: var(--primery-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

/* Buttons */
.button.primary {
  background-color: var(--accent-color);
  color: var(--primery-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

/* Section */
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

/* Feature */
.feature-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.feature-list-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* Team */
.section-team {
  background-color: var(--secondary-bg-color);
}
.team .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team .profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

/* Footer */
.footer {
  background-color: var(--primery-bg-color);
}
.contact-footer .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.contact-footer .address {
  color: var(--primery-white-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.contact-footer .link:hover,
.contact-footer .link:focus {
  color: var(--accent-color);
}

/* Portfolio */
.portfolio .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio .activity-profile {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
.button.secondary {
  background-color: var(--secondary-bg-color);
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
}
.buttons .link:hover,
.buttons .link:focus {
  color: var(--primery-white-color);
  background-color: var(--accent-color);
}
